body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:aquamarine;
    background-size: auto;

}
/*nav start*/
.logo {
    float: center;
    height: 65px;
    padding: 0px 30px;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.logo img{
    width: 65px;
}
.logo a{
    text-decoration:none ;
    color:  white;
      
}

.logo a:hover{
    text-decoration: none;
    display: absolute;
    color: #04048a;
    transition: all 0.5s ease;
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100px;
    width: 100%;
}

.nav ul{
    list-style: none;
    cursor: pointer;
    float:center;
    padding-inline-start: 70px;
    background-color: rgb(2, 2, 2);
    background-size: auto;
    height: 40%px;
}

.nav ul li{
    color:white;
    font-size: 15px;
    display: inline-block;
    padding: 30px 30px;
}

.aboutme{
    color:white;
    text-decoration: none;
}

.input-search{
    height: 20px;
    width: 200px;
    margin-left: 400px;
}

.input-button{
    width: 100;
    height: 25px;
}

.nav ul li:hover::after{
    content: "";
    display:block;
    border-bottom: 2px solid #c0c0e7;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}/*nav end*/

/*content start*/
.container{
    padding: 3rem 10rem;
}

.main{
    width: 100%;
    height: 100%;
    background: url();
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.main-content{
    position: flex;
}

.text{
    padding-top: 10rem;
}

.banner {
    width: 50%;
    margin-top: -100px;
    margin-left: -50;
    float: right;
}

.text h1{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 200;
}

.btn{
    padding: 8px 8px;
    background-color: rgb(3, 2, 71);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: sans-serif;
}
.btn:hover {
    background-color: rgb(253, 253, 253);
    color: rgb(9, 4, 70);
    transition: 0.5s ;
}
/*content end*/

/*footer start*/
.footer{
    left: 0;
    text-align: center;
    font-family: sans-serif;
    color: #04048a;
    margin-top: 650px;
    position: absolute;
    width: 100%;
    margin-bottom: 15px;
    z-index: -1;
    
}
.text-footer{
    background-color: rgba(70, 61, 61, 0.418);
    padding-top: 100px;
}
/*footer end*/
