body{
    background-color: aquamarine;
    background-image:url("../gambar/bg-content.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.form_login{
    background-color: rgba(0, 0, 0, 0.7);
    width: 350px;
    height: 500px;
    left: 40%;
    top: 23%;
    margin-bottom: 10%;
    position: absolute;
    padding: 60px 30px;
    transform: translate(-50px,-50px);
    box-sizing: border-box;
}

h1{
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    color: white;
}

label{
    color: white;
    font-size: 16px;
}

.form_login input[type = "text"],input[type = "password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.form_login input[type="submit"]{
    border: none;
    width: 70%;
    padding: 5px 0px;
    cursor: pointer;
    background-color: rgb(146, 162, 255);
    color: rgb(255, 255, 255);
}

.form_login input[type="submit"]:hover{
    background-color: rgb(230, 230, 230);
    color: rgb(15, 15, 15);
    transition: .4s ease;
}

.form_login input[type="checkbox"]{
    margin-top: 10px;
    margin-left: 2px;
    width: 30px;
}

.form_login b{
    text-align: center;
    padding: 0 20px;
    font-size: 15px;
    font-style: none;
}

.form_login a{
    padding: 4px 30px;
    background-color: rgb(146, 162, 255);
    border-radius: 10px;
    position: center;
    margin-left: 25%;
    color: white;
}

.register{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 15px;
}

.form_login a:hover{
    background-color: rgb(230, 230, 230);
    color: rgb(15, 15, 15);
    transition: .4s ease;
}
/* .form_login input[type = "text"]{
    margin: 20px;
} */